{% assign log = site.data.carwash_logs | where: "id", include.id | first %}

<div class="card mb-4">
  <div class="card-body">
    <h5>基本データ</h5>
    <ul>
      <li>日付: {{ log.date }}</li>
      <li>作業時間: {{ log.total_time }}分</li>
      <li>コスト: {{ log.cost }}円</li>
      <li>気温: {{ log.temp_max }}℃</li>
    </ul>

    <h5>工程時間</h5>
    <ul>
      {% for step in log.steps %}
      <li>{{ step.name }}: {{ step.duration }}分</li>
      {% endfor %}
    </ul>

    <h5>コイン洗車場使用メニュー</h5>
    <ul>
      {% for m in log.menu %}
      <li>{{ m.name }}（{{ m.price }}円）</li>
      {% endfor %}
    </ul>
    
    <h5>洗浄剤やワックスなどの</h5>
    <ul>
      {% for m in log.menu %}
      <li>{{ m.name }}（{{ m.price }}円）</li>
      {% endfor %}
    </ul>

    <h5>ツール</h5>
    <ul>
      {% for chemical in log.chemicals %}
      <li>{{ chemical.category }}: {{ chemical.name }}</li>
      {% endfor %}
    </ul>
  </div>
</div>