<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ '/' | relative_url }}">🚗 燃費研究所 - Fuel Lab</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">

        <!-- ツール -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">ツール</a>
          <ul class="dropdown-menu">
            {% for page in site.tools %}
            <li><a class="dropdown-item" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
            {% endfor %}
          </ul>
        </li>

        <!-- 車の知識 -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">車の知識</a>
          <ul class="dropdown-menu">
            {% for page in site.knowledge %}
            <li><a class="dropdown-item" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
            {% endfor %}
          </ul>
        </li>

        <!-- 私のソリオ -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            私のソリオ
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/fuel-lab/solio-diary/">サイト内で見る</a>
            </li>
            <li>
              <a class="dropdown-item" href="https://x.com/FuelLab_MySolio" target="_blank">
                X（@FuelLab_MySolio）
              </a>
            </li>
          </ul>
        </li>

        <!-- このサイトについて -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            About
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            {% for page in site.about %}
            <li><a class="dropdown-item" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
            {% endfor %}
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>
