---
layout: default
---

<div class="container my-5">
  <h1 class="fw-bold mb-4">
    タグ：{{ page.tag }}
  </h1>

  <!-- Knowledge Section -->
  <h2 class="mb-3">📘 燃費改善の基礎知識</h2>
  <div class="list-group mb-5">
    {% for tmp_page in site.knowledge %}
      {% if tmp_page.tags contains page.tag %}
      <a href="{{ tmp_page.url | prepend: site.baseurl }}" class="list-group-item list-group-item-action">
        <h5 class="mb-1">{{ tmp_page.title }}</h5>
        {% if tmp_page.description %}
          <p class="mb-1 text-muted small">
            {{ page.description }}
          </p>
        {% endif %}
      </a>
      {% endif %}
    {% endfor %}
  </div>

  <!-- My solio Section -->
  <h2 class="mb-3">🚗 私のソリオと試行錯誤の記録</h2>
  <div class="list-group mb-5">
    {% for tmp_page in site.solio %}
      {% if tmp_page.tags contains page.tag %}
      <a href="{{ tmp_page.url | prepend: site.baseurl }}" class="list-group-item list-group-item-action">
        <h5 class="mb-1">{{ tmp_page.title }}</h5>
        {% if tmp_page.description %}
          <p class="mb-1 text-muted small">
            {{ page.description }}
          </p>
        {% endif %}
      </a>
      {% endif %}
    {% endfor %}
  </div>
</div>
