---
layout: default
---

{% assign display_tag = site.data.tag_aliases[page.tag] | default: page.tag %}

<div class="container my-5">
  <h1 class="fw-bold mb-4">
    タグ：{{ display_tag }}
  </h1>

  {% if page.description %}
  <!-- Description -->
  <div class="alert alert-info">
    {{ page.description }}
  </div>
  {% endif %}

  <!-- Knowledge Section -->
  {% assign knowledge_page_map = "" | split: "" %}

  {% for tmp_page in site.knowledge %}
    {% if tmp_page.tags contains page.tag %}
      {% assign knowledge_page_map = knowledge_page_map | push: tmp_page %}
    {% endif %}
  {% endfor %}

  {% if knowledge_page_map.size > 0 %}
  <h2 class="mb-3">📘 燃費改善の基礎知識</h2>
  <div class="list-group mb-5">
    {% for tmp_page in knowledge_page_map %}
      <a href="{{ tmp_page.url | prepend: site.baseurl }}" class="list-group-item list-group-item-action">
        <h5 class="mb-1">{{ tmp_page.title }}</h5>
        {% if tmp_page.description %}
          <p class="mb-1 text-muted small">
            {{ tmp_page.description }}
          </p>
        {% endif %}
      </a>
    {% endfor %}
  </div>
  {% endif %}

  <!-- My solio Section -->
  {% assign solio_page_map = "" | split: "" %}

  {% for tmp_page in site.solio %}
    {% if tmp_page.tags contains page.tag %}
      {% assign solio_page_map = solio_page_map | push: tmp_page %}
    {% endif %}
  {% endfor %}

  {% if solio_page_map.size > 0 %}
  <h2 class="mb-3">🚗 私のソリオと試行錯誤の記録</h2>
  <div class="list-group mb-5">
    {% for tmp_page in solio_page_map %}
      <a href="{{ tmp_page.url | prepend: site.baseurl }}" class="list-group-item list-group-item-action">
        <h5 class="mb-1">{{ tmp_page.title }}</h5>
        {% if tmp_page.description %}
          <p class="mb-1 text-muted small">
            {{ tmp_page.description }}
          </p>
        {% endif %}
      </a>
    {% endfor %}
  </div>
  {% endif %}
</div>
